@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

html {
  background: rgb(62,29,16);
  background: -moz-linear-gradient(142deg, rgba(62,29,16,1) 0%, rgba(121,9,9,1) 52%, rgba(149,123,87,1) 100%);
  background: -webkit-linear-gradient(142deg, rgba(62,29,16,1) 0%, rgba(121,9,9,1) 52%, rgba(149,123,87,1) 100%);
  background: linear-gradient(142deg, rgba(62,29,16,1) 0%, rgba(121,9,9,1) 52%, rgba(149,123,87,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e1d10",endColorstr="#957b57",GradientType=1);
}

body {
  font-size: 16px;
  background-image: url(../assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:contain;
}

nav {
  text-align: center;
  margin-top: 1rem;
}


li {
  display: inline;
}

a {
  color: green;
  text-decoration: none;
  font-size: 2rem;
  padding: 7rem;
}

h1 {
  position: absolute;
  top: 5%;
  left: 20%;
  color: white;
  font-size: 5rem;
}

span {
  position: absolute;
  top: 30%;
  left: 52%;
  color: white;
  font-family: 'Silkscreen', cursive;
}


span::before {
  margin-left: 3rem;
  font-size: 2rem;
  color: green;
  content: 'web engineer';
  animation: animate infinite 5s;
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    content: 'web engineer';
  }
  33% {
    content: 'web engineer';
  }
  66% {
    content: 'php freak';
  }
  100% {
    content: 'good ideas creator';
  }
}