@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --bulma-primary: #3e1d1052;
  --bulma-secondary: #2b2a45;
  --bulma-info: #242256;
  --bulma-body-background-color: #ecede9;

  --bulma-family-primary: "Vollkorn", serif;
  --bulma-family-code: "Volkhorn", serif;

  --radial-gradient-opacity: 0.5;

  .is-family-primary,
  .is-family-sans-serif,
  .is-family-secondary {
    font-family: "Volkhorn", serif !important;
  }

  .has-background-primary {
    background-color: #ff480021 !important;
  }

  .has-background-secondary {
    background-color: #0b0018d3!important;
  }

#banner {
  align-items: flex-start;
  justify-content: space-evenly;
}


  .card-header {
    background-color: rgb(27, 21, 17);
    width: 100%;
    box-shadow: 0 10px 10px -5px rgba(0, 200, 0, 0.434);
    max-height: 95px;
  }


  /* #banner {
    background-color: #1B1511;
    box-shadow: 0 0 20px 20px #1B1511;
    height: min-content;
    margin: auto 0;
  } */

  /* #banner {
    padding: 2rem;

  } */

  .card-footer {
    background-color:#ffffff;
    transition: all .5s ease-in-out;
  }

  .card-footer-item {
    color: #000;
  }

  .card-footer-item:hover {
    background-color: rgba(68, 0, 82, 0.811);
    transition: all .5s ease-in-out;
    color: #fff;
  }

  .card-footer-item:first-of-type:hover {
    border-radius: 0 0 0 10px;
  }

  .card-footer-item:last-of-type:hover {
    border-radius: 0 0 10px 0px;
  }

}

/* Basic styles */
html {
  background: rgb(0,205,151);
  background: linear-gradient(0deg, rgba(0,205,151,1) 0%, rgba(27,21,17,1) 100%);
}

body {
  overflow-x: initial;
  font-size: 16px;
  font-family: 'Vollkorn', serif;
}

#banner,
#top { 
  display: block; 
  margin: 0 auto;
  text-align: center;
}

#top {
  text-align: center;
  margin-top: -6rem;
}

.card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  
  /* height: 55vh; */
}

.image {
  height: auto;
  max-width: 75%;
  box-shadow: 0 0 20px 20px #78ff736b;
  margin: 0 auto;
  border-radius: 50%;
  transition: all 1.5s ease;
}

.image:hover {
  box-shadow: 0 0 60px 60px #a5aaff;
  transition: all 0.5s ease;

}

.image img {
  border-radius: 25%;
  border: 5px solid #ffee00be;

}

#innerCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

#innerCard:hover {
  background-color: #ffee00e4;
  transition: all 0.5s ease-in-out;
}


#innerCard a {
  color: #9c01a7;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

#innerCard a:hover {
  color: #008a53;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
  }


.card-footer {
  margin-top: auto;
}

/* Hero section */
.hero {
  min-height: 300px;
  padding-top: 100px;
}

li {
  list-style-type: none;
}

span {
  margin: .5rem;
}




#typed {
  background-color: none;
  color: white;
  font-family: 'Silkscreen', cursive;
  padding: 0;
  width: 350px;
  height: 120px;
  margin: 0 auto;
}

#typed::before {
  background-color: none;
  font-size: 2rem;
  color: green;
  content: 'web engineer';
  animation: animate infinite 5s;
  animation-delay: 2s;
  padding: 0;
}

@keyframes animate {
  0% {
    content: 'web engineer';
  }
  25% {
    content: 'web engineer';
  }
  50% {
    content: 'php freak';
  }
  75% {
    content: 'django dude';
  }
  100% {
    content: 'python powered';
  }
}


@media screen and (max-width: 1200px) {
  .card-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    margin-top: 2rem;
  }

  #banner {
    max-height: max-content;
    text-align: center;
  }


  #innerWrapper {
    padding: 0;
  }

  .img {
    max-width: 30vw;
    padding: 1rem;
  }

  #banner,
  #banner > h1 { 
    display: block; 
    margin: 0 auto;
    
  }

}