@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --bulma-primary: #3e1d1052;
  --bulma-secondary: #2b2a45;
  --bulma-info: #242256;
  --bulma-body-background-color: #ecede9;

  --bulma-family-primary: "Vollkorn", serif;
  --bulma-family-code: "Volkhorn", serif;

  --radial-gradient-opacity: 0.5;

  .is-family-primary,
  .is-family-sans-serif,
  .is-family-secondary {
    font-family: "Volkhorn", serif !important;
  }

  .has-background-primary {
    background-color: #ff480021 !important;
  }

  .has-background-secondary {
    background-color: #0b0018d3!important;
  }

  #banner {
    background-color: #1B1511;
    box-shadow: 0 0 20px 20px #1B1511;
  }

  .footer {
    --bulma-footer-padding: 1.5rem;
    --bulma-footer-background-color: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  .card-footer {
    background-color:#f4f5f4;
  }

  .card-footer-item:hover {
    background-color: #00ff0056;
    border-radius: 15px;
  }

}

/* Basic styles */
html {
  background: rgb(0,205,151);
  background: linear-gradient(0deg, rgba(0,205,151,1) 0%, rgba(27,21,17,1) 100%);
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Vollkorn', serif;
  height: 100vh;
}

.card {
  display:flex;
  flex-direction: column;
  height: 55vh;
}
.card-footer {
  margin-top: auto;
}

/* Hero section */
.hero {
  min-height: 300px;
  padding-top: 100px;
}

li {
  list-style-type: none;
}

#typed {
  background-color: rgb(27, 21, 17);
  color: white;
  font-family: 'Silkscreen', cursive;
  padding: .5rem;
}

#typed::before {
  background-color: rgb(27, 21, 17);
  font-size: 2rem;
  color: green;
  content: 'web engineer';
  animation: animate infinite 5s;
  animation-delay: 2s;
}

@keyframes animate {
  0% {
    content: 'web engineer';
  }
  25% {
    content: 'web engineer';
  }
  50% {
    content: 'php freak';
  }
  75% {
    content: 'django dude';
  }
  100% {
    content: 'python powered';
  }
}
